.contacts {
  @extend %list;

  display: inline-block;
  // display: flex;
  // align-items: center;
  // margin-left: auto;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  // font-size: 14px;
  // line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: start;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
  // &:not(:first-child)
  // margin-left: 50px;
}

.contacts__link {
  @extend %link;
  // @include centeredFlex;
  display: flex;
  align-items: center;

  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $color-text-secondary;
}

.contacts__icon {
  margin-right: 8px;
  // margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon--tel {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
