.contacts {
  display: none;

//   @extend %list;

//   // display: flex;
//   align-items: center;
//   margin-left: auto;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
}

// .contacts__item:not(:first-child) {
//   margin-left: 50px;
// }

// .contacts__link {
//   @extend %link;
//   @include centeredFlex;

//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: $color-text-secondary;
// }

// .contacts__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
