.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;

  background-color: $color-bg-main;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centeredFlex();

  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  color: $color-text-primary;
  background-color: $color-bg-main;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.modal__close-icon {
  fill: currentColor;
}

.modal__heading {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: $color-text-primary;
}
