.footer {
  background-color: $color-bg-dark;
}

// .footer__section {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

.page-footer {
    text-align: center;
//   display: flex;
//   align-items: baseline;
}

.page-footer__wrapper {
    margin-bottom: 60px;
}