.footer {
  background-color: $color-bg-dark;
}

// .footer__section {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

.page-footer {
  text-align: center;
  //   display: flex;
  //   align-items: baseline;
}

.page-footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    margin-bottom: 60px;
  }
}

.page-footer__inner {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
