// .portfolio__title {
//   @extend %visually-hidden;
// }

// .projects {
//   @extend %list;

//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// }

// .projects__item {
//   flex-basis: calc((100% - 60px) / 3);
//   // margin-right: 30px;
//   // margin-bottom: 30px;

//   // &:nth-child(3n) {
//   //   margin-right: 0;
//   // }

//   // &:nth-last-child(-n + 3) {
//   //   margin-bottom: 0;
//   // }
// }

// .project {
//   text-decoration: none;
//   color: inherit;

//   display: block;

//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .project__meta {
//   padding: 20px 24px;
//   border: 1px solid #eeeeee;
//   // border-top: none;
// }

// .project__title {
//   margin-bottom: 4px;

//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
// }

// .project__thumb {
//   position: relative;
//   overflow: hidden;
// }

// .project__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   padding: 63px 24px;

//   font-size: 18px;
//   line-height: 1.55;
//   letter-spacing: 0.03em;

//   color: $color-text-inverse;
//   background-color: $color-bg-card-ovelay;

//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .project:hover &,
//   .project:focus & {
//     transform: translateY(0%);
//   }
// }

// .project__subtitle {
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.03em;
// }
