.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // @include centeredFlex();
}

.site-nav__list {
  // @include centeredFlex();
  @extend %list;
  display: none;
}

.site-nav__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

// .site-nav__item:not(:first-child) {
//   margin-left: 50px;
// }

// .site-nav__link {
//   @extend %link;

//   position: relative;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: $color-text-primary;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .site-nav__link--current {
//   color: $color-accent;

//   &::after {
//     position: absolute;
//     left: -5%;
//     bottom: -1px;
//     overflow: visible;

//     display: block;
//     content: ' ';
//     width: 110%;
//     height: 4px;
//     border-radius: 2px;

//     background-color: $color-accent;
//   }
// }
